header {
}

@font-face {
  font-family: "Frijole";
  src: url("https://fonts.gstatic.com/s/frijole/v7/uU9PCBUR8oakM2BQ3xTR3w.woff2");
}

body {
  /*
  width: 100%;
  margin: 0px;
  /* background-size: auto 100px;*/
  /*
  background-color: rgb(52, 152, 219);
  */
}
.zencolor {
  color: blue;
}
@media screen and (max-width: 640px) {
  .zencolor {
    color: red;
    display: none;
  }
}

@media print {
  footer {
    page-break-after: always;
  }
}

ul.yuyu {
  list-style: none;
}
.navbar-brand {
  font-family: Frijole, sans-serif;
}

.footlink {
  display: block;
}
.colcorps {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/27/11/52/mountain-bike-2447170__340.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  padding-left: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
}
/* input bouton de type inscription */
/*input[type=button].inscription{
  margin-bottom: 5%; 
}*/

.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-selector {
  text-align: center;
}
.nav-selector img,
.nav-selector div {
  border: solid 3px lightblue;
}
.nav-selector img {
  border-radius: 100%;
}
.nav-selector div {
  padding: 1em 0.5em 0.5em;
  margin-top: -1em;
}
.nav-selector div h3 {
  font-weight: bold;
  font-size: 1em;
  color: black;
  padding: 0;
  margin: 0;
}
.nav-selector div p {
  color: grey;
  padding: 0;
  margin: 0;
}
